DB_HOST=localhost
DB_PORT=#3306 o el que uses , yo uso 3309
DB_USER=...
DB_PASS=...
DB_NAME=loodle_system

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=...
SMTP_PASS=... #Contraseña de aplicacion generada de google para emails!
#Ejemplo de contraseña generada : "xcrereywnnssksj" asi!